{% extends 'layouts/base.html.twig' %}

{% block title %}BIENS{% endblock %}

{% block body %}
<div>
    <h1>BIENS PAGE</h1>
    <a href="{{path('app_home')}}" class="btn btn-primary">Aller Homme</a>
</div>
{% endblock %}
