<form method="post" action="{{ path('app_user_delete_porteur', {'id': user.id}) }}" onsubmit="return confirm('Etes Vous sure de cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
