<form method="post" action="{{ path('app_bien_delete', {'id': bien.id}) }}" onsubmit="return confirm('Etes-vous sure de cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
